*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
     /* background: url(bg1.jpg);
    background-size: cover;  */
    
}
.banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../imgs/bg1.jpg), linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    opacity: 0.3;
    background-size: cover;
    z-index: -1;
}
p{
    color: #111;
    font-weight: 300;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: rgb(25, 48, 253)
}
.banner .content p{
    font-size: 1em;
    color: #111
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;

}
header .logo{
    columns:rgb(8, 32, 253);
    text-decoration: none;
    font-weight: 700;
    font-size: 2.2em;

}
header .logo span{
    color:#fc09c7;
    
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #111;
    font-weight: 300;
}
header .navigation li a:hover{
    color: #ff0157;
}
section{
    padding: 100px;
}
.sticky{
    background: #fff;
    position: fixed;
    padding: 10px 80px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    z-index: 10;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    /* overflow: hidden;
    top: 0;
    left: 0%; */
}
.sticky .logo{
    color: #111;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    flex-wrap: wrap;
    flex-direction: row; */
}
.row .col50{
    position: relative;
    width: 100%;
    height: 350px;
}
.row .col50 .imgBx{
    
    width: 100%;
    min-height: 300px;
   
}
.row .col50 p{
    width: 100%;
    min-height: 100%;
    padding: 30px 15px;
    /* border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08); */
}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;


}
.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text{
    padding: 15px 0 5px;
}
.menu .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.expert .content .box{
    width: 250px;
    margin: 15px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.expert .content .box .text{
    padding: 15px 0 5px;
}
.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.testimonials{
    /* background: url("bg3.jpg");
    background-size: cover; */
    position: relative;
    z-index: 1;
}
.testimonials::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/bg2.jpg");
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}
 .white .titleText,
.white p{
    color: #fff;
}
.black .titleText,
.black p{
    color: #000;
}
.testimonials .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box{
    width: 340px;
    padding: 40px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.08);
}
.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgBx img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;
}
.testimonials .content .box .text p{
    color: #606;
    font-style: italic;
}
.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}
.contact{
    background: url(../imgs/bg3.jpg);
    background-size: cover;
    
}
.contact_form{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: 600px;
    margin-top: 50px;
}
.contact_form h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contact_form .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contact_form .inputBox input,
.contact_form .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contact_form .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px ;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}
.contact_form .inputBox input[type="submit"]:hover{
    color: #ff0157;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;

}
.copyrightText a{
    color: #ff0157;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
}


/* media query start from here  */

@media (max-width:991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
        transition: 0.5s;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../imgs/menu.png);
        /* background-size: 30px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
    }
    header .navigation li{
        margin-left: 0;
        margin-bottom: 20px;
        
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        font-size: 3.3em;
        margin-bottom: 200px;
        font-weight: 300;
    }

    .menuToggle.active{
        background: url(../imgs/close.jpg);
        /* background-size: 30px; */
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    header.sticky .menuToggle{
        /* filter: invert(1); if icons has white color  */
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #000;
        margin-bottom: 20px;
    }
    .row{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .row .col150{
        position: relative;
        width: 100%;
    }
    .row .col150 .imgBx{
        position: relative;
        width: 100%;
        height: 300px;
        /* margin-top: 20px; */
    }
    .menu .content{
        margin-top: 20px;
    }
    .titleText {
       text-align: center;
       margin-bottom: 22px;
    }
    .contact_form{
        margin: 0;
    }
}